DownloadManager.Client/Service References/ServiceReference/DownloadManager.Library.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DownloadManager.Library.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DownloadManager.Library.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestResultOfArrayOfAppInfowtz7jBEH">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RequestResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/DownloadManager.Library.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfAppInfo" Namespace="http://schemas.datacontract.org/2004/07/DownloadManager.Library.Models">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfAppInfo" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestResultOfArrayOfAppInfowtz7jBEH" nillable="true" type="tns:RequestResultOfArrayOfAppInfowtz7jBEH" />
  <xs:complexType name="ArrayOfAppInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppInfo" nillable="true" type="tns:AppInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppInfo" nillable="true" type="tns:ArrayOfAppInfo" />
  <xs:complexType name="AppInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WikiLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WikiVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppInfo" nillable="true" type="tns:AppInfo" />
  <xs:complexType name="RequestResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestResult" nillable="true" type="tns:RequestResult" />
  <xs:complexType name="RequestResultOfbase64Binary">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RequestResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/DownloadManager.Library.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="base64Binary" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestResultOfbase64Binary" nillable="true" type="tns:RequestResultOfbase64Binary" />
</xs:schema>