DownloadManager.Client/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DownloadManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDownloadManagerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DownloadManager.Library" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DownloadManager.Library.Models" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDownloadManagerService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_GetApps_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApps" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_GetApps_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppsResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_GetBinaries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBinaries" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_GetBinaries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBinariesResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_RemoveCachedFile_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCachedFile" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_RemoveCachedFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCachedFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_ClearAllCachedFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearAllCachedFiles" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_ClearAllCachedFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearAllCachedFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_CreateCachedFile_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCachedFile" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_CreateCachedFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCachedFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_CreateCachedFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCachedFiles" />
  </wsdl:message>
  <wsdl:message name="IDownloadManagerService_CreateCachedFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCachedFilesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDownloadManagerService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadManagerService/GetData" message="tns:IDownloadManagerService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadManagerService/GetDataResponse" message="tns:IDownloadManagerService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadManagerService/GetDataUsingDataContract" message="tns:IDownloadManagerService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadManagerService/GetDataUsingDataContractResponse" message="tns:IDownloadManagerService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApps">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadManagerService/GetApps" message="tns:IDownloadManagerService_GetApps_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadManagerService/GetAppsResponse" message="tns:IDownloadManagerService_GetApps_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadManagerService/Update" message="tns:IDownloadManagerService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadManagerService/UpdateResponse" message="tns:IDownloadManagerService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadManagerService/Add" message="tns:IDownloadManagerService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadManagerService/AddResponse" message="tns:IDownloadManagerService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadManagerService/Remove" message="tns:IDownloadManagerService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadManagerService/RemoveResponse" message="tns:IDownloadManagerService_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBinaries">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadManagerService/GetBinaries" message="tns:IDownloadManagerService_GetBinaries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadManagerService/GetBinariesResponse" message="tns:IDownloadManagerService_GetBinaries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCachedFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadManagerService/RemoveCachedFile" message="tns:IDownloadManagerService_RemoveCachedFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadManagerService/RemoveCachedFileResponse" message="tns:IDownloadManagerService_RemoveCachedFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearAllCachedFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadManagerService/ClearAllCachedFiles" message="tns:IDownloadManagerService_ClearAllCachedFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadManagerService/ClearAllCachedFilesResponse" message="tns:IDownloadManagerService_ClearAllCachedFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCachedFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadManagerService/CreateCachedFile" message="tns:IDownloadManagerService_CreateCachedFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadManagerService/CreateCachedFileResponse" message="tns:IDownloadManagerService_CreateCachedFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCachedFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadManagerService/CreateCachedFiles" message="tns:IDownloadManagerService_CreateCachedFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadManagerService/CreateCachedFilesResponse" message="tns:IDownloadManagerService_CreateCachedFiles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDownloadManagerService" type="tns:IDownloadManagerService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDownloadManagerService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IDownloadManagerService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IDownloadManagerService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApps">
      <soap12:operation soapAction="http://tempuri.org/IDownloadManagerService/GetApps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/IDownloadManagerService/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/IDownloadManagerService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap12:operation soapAction="http://tempuri.org/IDownloadManagerService/Remove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBinaries">
      <soap12:operation soapAction="http://tempuri.org/IDownloadManagerService/GetBinaries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCachedFile">
      <soap12:operation soapAction="http://tempuri.org/IDownloadManagerService/RemoveCachedFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearAllCachedFiles">
      <soap12:operation soapAction="http://tempuri.org/IDownloadManagerService/ClearAllCachedFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCachedFile">
      <soap12:operation soapAction="http://tempuri.org/IDownloadManagerService/CreateCachedFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCachedFiles">
      <soap12:operation soapAction="http://tempuri.org/IDownloadManagerService/CreateCachedFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DownloadManagerService">
    <wsdl:port name="NetTcpBinding_IDownloadManagerService" binding="tns:NetTcpBinding_IDownloadManagerService">
      <soap12:address location="net.tcp://localhost:8090/DMS" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/DMS</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>